*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.login , .register{
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  height: 400px;
  width: 400px;
  background: #333333;
box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322), 0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129), 0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145), 0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871), 0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468), 0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
}
.login form , .register form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
}
.login form input , .register form input{
  height: 60px;
  width: 90%;
  border-radius: 10px;
  border:2px solid white;
  background: transparent;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
}
form input:focus{
  background: white;
  color: #333333;
}
.login button , .register button{
  color: white;
  padding: 10px 30px;
  outline: none;
  border: none;
  background-color: #4269E2;
  border-radius: 10px;
  font-weight: 600;

}
.login h2 , .register h2{
text-align: center;
color: white;
}
.login p , .register p{
  color: white;
  text-transform: capitalize;
  margin-top: 10px;
  cursor: pointer;
}

.login-p{
padding-top: 10px;
}

form div {
  margin-bottom: 20px;
  text-align: center;
}
.login form div p , .register form div p{
  font-size: 12px;
}
.footer{
 height: 200px;
  position:fixed; 
bottom: 0;
right: 0;
  z-index:1;
}
.footer img{
  height: 600px;
  width: 100%;
  position:fixed; 
  bottom: 0;
  right: 0;
    z-index:1;
}

body{
  background-color: #303030;

}

header{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
header .logo h1{
  color: white;
}
header .logo{
  width: 20%;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li{
  margin-right: 20px;
}
.link{
  text-decoration: none;
  color: white;
}

.search{
  width: 50%;
}
.search-input{
  width: 60%;
  height: 40px;
  border: 2px solid white;
  outline: none;
  background: transparent;
}
.addnote button{
  background-color: #4269E2;
  height: 40px;
  width: 120px;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;

}
.home{
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.note{
  width: 400px;
  min-height: 200px;
  background-color: #e25e6f;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-right:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
/* .note p{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6.6em;
  line-height: 1.8em;
} */
.note button{
  background: transparent;
  outline: none;
  border: none;
}
.note .head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note .content{
flex: 0.6;
}
.note .foot{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
select {
  appearance: none;
  outline: 0;
  background:transparent;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
  text-transform: capitalize;
  
}
option{
  color: white;
  background: #303030;
  font-size: 16px;
}
.select{
  position: relative;
  display: block;
  width: 15em;
  height: 4em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

.show-note{
  padding: 20px;
}
.show-note .note-head p{
  font-size: 20px;
}

.show-note .note-content{
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.create-note{
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  background: #333333;
  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322), 0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129), 0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145), 0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871), 0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468), 0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
}
.create-note form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 90%;
}
.create-note-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}
.create-note form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-note form input{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
}
.create-note form textarea{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border:2px solid white;
  background: transparent;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
}
.create-note .date{
  color: white;
  margin: 20px 0;
  
}
.create-note .note-head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  text-transform: capitalize;
}
.create-note button{
  background-color: #4269E2;
  color: white;
  height: 40px;
  width: 120px;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  text-transform: capitalize;
}
.create-note label{
  color: white;
  font-weight: 600;
  margin: 4px 0;
}

@media  (max-width: 450px) {
  .note {
  width: auto;
  min-width: 200px;
}

}
@media (max-width: 900px) {
   .create-note{
    width: 90%;
  }
}

@media (max-width: 400px) {
  .login , .register{
    width: 90%;
  }
  .login p , .register p{
    font-size: 12px;
  }
}

@media (max-width: 300px) {
 header h1 {
  font-size: 12px;
 }
 .addnote button{
  width: 100px;
  font-size: 12px;
  padding: 0;
 }
}


.register_msg{
  color: #333333;
}